.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .contact-info-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .contact-info-item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  .contact-info-item h3, .contact-info-item p {
      color: black;
  }
  
  .blank-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  